https://mas2don.bonzoesc.net {
  proxy /api/v1/streaming streaming:4000 {
    transparent
    websocket
  }

  proxy / web:3000 {
    transparent
    websocket
  }
}

https://m.bonzoesc.net {
  proxy /api/v1/streaming streaming:4000 {
    transparent
    websocket
  }

  proxy / web:3000 {
    transparent
    websocket
  }
  tls self_signed
}
